:where(*, *::before, *::after) {
  box-sizing: border-box;
}

:where(*:not(dialog)) {
  margin: 0;
}

:where(body) {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

:where(img, picture, video, canvas, svg) {
  display: block;
  max-width: 100%;
}

:where(input, button, textarea, select) {
  font: inherit;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

:where(p) {
  text-wrap: pretty;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
}

@media (prefers-reduced-motion: reduce) {
  * {
    /* eslint-disable-next-line css/no-important*/
    animation-duration: 0.01ms !important;
    /* eslint-disable-next-line css/no-important*/
    transition-duration: 0.01ms !important;
  }
}
