@theme static {
  --warm-gray-100: #171414;
  --warm-gray-90: #272525;
  --warm-gray-80: #3c3838;
  --warm-gray-70: #565151;
  --warm-gray-60: #726e6e;
  --warm-gray-50: #8f8b8b;
  --warm-gray-40: #ada8a8;
  --warm-gray-30: #cac5c4;
  --warm-gray-20: #e5e0df;
  --warm-gray-10: #f7f3f2;

  --color-accent-contrast: light-dark(var(--warm-gray-10), var(--warm-gray-100));
  --color-accent: light-dark(var(--warm-gray-100), var(--warm-gray-10));

  --color-background-subtle: light-dark(var(--warm-gray-20), var(--warm-gray-90));
  --color-background: light-dark(var(--warm-gray-10), var(--warm-gray-100));

  --color-border: light-dark(var(--warm-gray-30), var(--warm-gray-80));

  --color-foreground-subtle: light-dark(var(--warm-gray-70), var(--warm-gray-50));
  --color-foreground: light-dark(var(--warm-gray-100), var(--warm-gray-10));

  --radius-inner: var(--spacing);
  --radius-outer: calc(var(--radius-inner) + (var(--spacing) * 1.5));

  --max-width-prose: 36rem;

  --spacing: 3.75px;

  --text-default: calc(var(--spacing) * 4);
}
